<div class="container col-md-auto">
  <div class="row">
    <div *ngFor = "let d of displayNews" class="col-md-3 p-mt-3 p-mb-3">
      <div class="box">
        <img src="{{d.image_url}}" alt= "" width="90%">
        <h5>{{d.title}}</h5>
        <p>{{d.description}}</p>
        <a href="{{d.article_url}}"> Daha fazla</a>
      </div>
    </div>

    <div *ngFor = "let d of displayNews2" class="col-md-3 p-mt-3 p-mb-3">
      <div class="box">
        <img src="{{d.image_url}}" alt= "" width="90%">
        <h5>{{d.title}}</h5>
        <p>{{d.description}}</p>
        <a href="{{d.article_url}}"> Daha fazla</a>
      </div>
    </div>
    
    <div *ngFor = "let d of displayNews3" class="col-md-3 p-mt-3 p-mb-3">
      <div class="box">
        <img src="{{d.image_url}}" alt= "" width="90%">
        <h5>{{d.title}}</h5>
        <p>{{d.description}}</p>
        <a href="{{d.article_url}}"> Daha fazla</a>
      </div>
    </div>
  </div>
</div>
