<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <p class="card-title">COVID-19, farklı kişileri farklı şekillerde etkilemektedir.
          Enfekte kişilerin çoğu, hafif ila orta düzeyde semptomlar geliştirmekte ve hastaneye kaldırılmadan iyileşmektedir.<br>
          Koronavirüs, alacağımız Tedbirlerden Güçlü Değildir
          <!--<a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
          <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a> -->
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Belirtiler</h5>
              </div>
              <div class="card-body">
                <div class="alert alert-success alert-with-icon alert-dismissible fade show" data-notify="container">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="nc-icon nc-sound-wave"></span>
                  <span data-notify="message">En Yaygın Semptomlar: <br>
                    Ateş, <br>
                    Kuru öksürük, <br>
                    Yorgunluk</span>
                </div>
                <div class="alert alert-danger alert-with-icon alert-dismissible fade show" data-notify="container">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="nc-icon nc-alert-circle-i"></span>
                  <span data-notify="message">Ciddi semptomlar:<br>
                    Solunum güçlüğü veya nefes darlığı<br>
                    Göğüs ağrısı veya göğüste baskı<br>
                    Konuşma veya hareket kaybı</span>
                </div>
                <div class="alert alert-primary alert-with-icon alert-dismissible fade show" data-notify="container">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                  <span data-notify="icon" class="nc-icon nc-check-2"></span>
                  <span data-notify="message" >Daha seyrek görülen semptomlar:<br>
                      Ağrı ve sızı<br>
                      Boğaz ağrısı<br>
                      İshal<br>
                      Konjunktivit<br>
                      Baş ağrısı<br>
                      Tat alma veya koku duyusunun kaybı<br>
                      Ciltte döküntü ya da el veya ayak parmaklarında renk değişimi</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h5 class="card-title">Türkiye'de Görülen Varyantlar</h5>
              </div>
              <div class="card-body">

                <div class="alert alert-primary alert-dismissible fade show">
                  <span>
                    <b>İngiltere </b>
                  </span>
                </div>
                <div class="alert alert-info alert-dismissible fade show">
                    <b>Brezilya </b>
                </div>
                <div class="alert alert-success alert-dismissible fade show">
                    <b>Güney Afrika </b>
                </div>
                <div class="alert alert-warning alert-dismissible fade show">
                    <b>Hindistan </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
