<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center">
        <h4 class="card-title">#EVDEKALTÜRKİYE</h4>
          <p class="card-category">Hayat Eve Sığar...</p>
      </div>
      <div class="card-body">
          <table class="table">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/S1Wz25UIjtM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          </table>
      </div>
    </div>
  </div>
</div>
