<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/editor-7.7s-45px.gif">
      </div>
    </a>
    <a class="simple-text logo-normal">
      Covid 19
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems"   class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon    {{menuItem.icon}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>
