<div class="row">
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p
                class="card-category"
                style="text-align: center; color: #1d2124"
              >
                Test Sayısı
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!-- buraya cekilen verileri koycaz-->
        <hr />
        <div class="stats">
          <i
            class="fa"
            style="
              text-align: center;
              color: #000000;
              font-weight: 900;
              font-size: 150%;
            "
            >{{ tests | number }}</i
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p
                class="card-category"
                style="text-align: center; color: #1d2124"
              >
                Vaka Sayısı
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!-- buraya cekilen verileri koycaz-->
        <hr />
        <div class="stats">
          <i
            class="fa"
            style="
              text-align: center;
              color: #000000;
              font-weight: 900;
              font-size: 150%;
            "
            >{{ cases | number }}</i
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p
                class="card-category"
                style="text-align: center; color: #1d2124"
              >
                Hasta Sayısı
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!-- buraya cekilen verileri koycaz-->
        <hr />
        <div class="stats">
          <i
            class="fa"
            style="
              text-align: center;
              color: #000000;
              font-weight: 900;
              font-size: 150%;
            "
            >{{ patients | number }}</i
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p
                class="card-category"
                style="text-align: center; color: #1d2124"
              >
                İyileşenlerin Sayısı
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!-- buraya cekilen verileri koycaz-->
        <hr />
        <div class="stats">
          <i
            class="fa"
            style="
              text-align: center;
              color: #000000;
              font-weight: 900;
              font-size: 150%;
            "
            >{{ recovered | number }}</i
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p
                class="card-category"
                style="text-align: center; color: #1d2124"
              >
                Vefat Sayısı
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!-- buraya cekilen verileri koycaz-->
        <hr />
        <div class="stats">
          <i
            class="fa"
            style="
              text-align: center;
              color: #000000;
              font-weight: 900;
              font-size: 150%;
            "
            >{{ deaths | number }}</i
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p
                class="card-category"
                style="text-align: center; color: #1d2124"
              >
                Ağır Hasta Sayısı
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!-- buraya cekilen verileri koycaz-->
        <hr />
        <div class="stats">
          <i
            class="fa"
            style="
              text-align: center;
              color: #000000;
              font-weight: 900;
              font-size: 150%;
            "
            >{{ critical | number }}</i
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">TÜRKİYE COVID-19 VAKA TABLOSU</h5>
        <p class="card-category">Son Hafta Durum Grafikleri</p>
      </div>
      <div class="card-body">
        <canvas id="chartHours" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <hr />
        <div class="legend" style="text-align: center">
          <i class="fa fa-circle text-warning"></i> Vaka
        </div>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">TÜRKİYE COVID-19 TEST TABLOSU</h5>
        <p class="card-category">Son Hafta Durum Grafikleri</p>
      </div>
      <div class="card-body">
        <canvas id="chartThird" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <hr />
        <div class="legend" style="text-align: center">
          <i class="fa fa-circle text-primary"></i> Test
        </div>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">TÜRKİYE COVID-19 VEFAT TABLOSU</h5>
        <p class="card-category">Son Hafta Durum Grafikleri</p>
      </div>
      <div class="card-body">
        <canvas id="chartSecond" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <hr />
        <div class="legend" style="text-align: center">
          <i class="fa fa-circle text-danger"></i> Vefat
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Son Hafta İyileşen İstatistiği</h5>
      </div>
      <div class="card-body">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="fa fa-calendar"></i>Son Hafta Günlük İstatistiği
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Günlük Hasta Sayısı Grafiği</h5>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="94"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend" style="text-align: center">
          <i class="fa fa-circle text-info"></i> Hasta
        </div>
        <hr />
        <div class="card-stats">
          <i class="fa fa-check"></i> Son Haftanın Hasta Sayısı İstatistiği
        </div>
      </div>
    </div>
  </div>
</div>
